@import './mixins'
@import './variables'
    
header
    width: 100%
    height: 7vh
    background-color: $mint-cream
    +displayFlex
    justify-content: space-between
    padding: 0 5vw
    border-bottom: 0.1vh solid rgba(19, 64, 116, 0.2)
    .main-title-container
        +displayFlex
        color: $yale-blue
        gap: 1vw
        .main-logo
            height: 4vh
        .main-heading
            font-size: 2em
            font-family: 'Rubik Doodle Shadow', sans-serif
            transition: 300ms
            &:hover
                color: white
    .main-nav
        +displayFlex
        .main-nav-list
            +displayFlex
            gap: 1vw
            font-family: 'Roboto', sans-serif
            a
                color: $yale-blue
                transition: 300ms
                &:hover
                    color: white