@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-body {
  width: 100%;
  height: 88vh;
}

header {
  width: 100%;
  height: 7vh;
  background-color: rgb(238, 244, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 5vw;
  border-bottom: 0.1vh solid rgba(19, 64, 116, 0.2);
}
header .main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 64, 116);
  gap: 1vw;
}
header .main-title-container .main-logo {
  height: 4vh;
}
header .main-title-container .main-heading {
  font-size: 2em;
  font-family: "Rubik Doodle Shadow", sans-serif;
  transition: 300ms;
}
header .main-title-container .main-heading:hover {
  color: white;
}
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-nav .main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-family: "Roboto", sans-serif;
}
header .main-nav .main-nav-list a {
  color: rgb(19, 64, 116);
  transition: 300ms;
}
header .main-nav .main-nav-list a:hover {
  color: white;
}

footer {
  background-color: rgb(238, 244, 237);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: rgb(19, 64, 116);
}
footer a {
  color: rgb(141, 169, 196);
  transition: 300ms;
}
footer a:hover {
  color: white;
}

.bestsellers {
  background-color: rgb(238, 244, 237);
  width: 100%;
  height: 40%;
  padding-top: 2vh;
  padding-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestsellers .bestsellers-title {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(19, 64, 116);
}/*# sourceMappingURL=main.css.map */